/*Universal*/

p {
background-color: rgba(62, 136, 72, 0.264);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.alineacion
{
    display: flex;
    flex-diretion: column;
    align-items: left;
}



/*-----------------------------------------------------------------*/

/*Header/Encabezado*/



/*--------------------------------------------------------------*/

/*Footer*/
/* Títulos */
h1, h2 {
    color: rgb(30, 85, 57);
}

/* Footer */
footer {
    text-align: center;
    background-color: rgba(48, 117, 51, 0.15);
    padding: 30px;
    margin-top: 40px;
    font-weight: bold;
    border-top: 3px solid rgb(30, 85, 57);
}

/* Sección de contacto */
.contacto {
    text-align: center;
}

/* Tarjetas */
.datos-contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1000px;
    margin: 30px auto;
}

/* Cada tarjeta */
.dato {
    background-color: rgba(225, 255, 225, 0.7);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgba(30, 85, 57, 0.3);

    /* Hace que todo dentro de la tarjeta se acomode */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imágenes */
.dato img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: auto;
}

/* Texto */
.dato p {
    font-weight: normal;
}

/* Para pantallas chicas */
@media (max-width: 700px) {
    .datos-contacto {
        grid-template-columns: 1fr;
    }
}
